*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:focus {
    outline: none;
}
:root {
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.125rem;
    --fs-body: 1rem;

    --clr-light: #fff;
    --clr-dark: #201c1c;
    --clr-accent: #16e0bd;

    --ff: sans-serif;

    --fw-reg: 400;
    --fw-bold: 700;
    --fw-light: 300;

    --logo-width: 35px;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

}


@media (min-width: 800px) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.75rem;
        --logo-width: 55px;
    }
}


section {
    padding: 3em 2em;
}

img {
    display: block;
    max-width: 100%;
}


body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    font-weight: var(--fw-reg);
    font-size: var(--fs-body);
    font-family: 'Ubuntu', sans-serif;
    background: url(/images/pexels-lorenzo-242236.jpg), rgb(207, 195, 195);
}

h1, h2, h3{ margin: 0; padding: 0;}

h1{ font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

a{
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: var(--clr-accent);
}

/* //////////// HEADER //////////// */

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.logo {
    position: relative;
    margin: 0;
    padding: 0;
    color: var(--clr-dark);
    z-index: 101;
}

.logo_span::before {
    content: '';
    position: absolute;
    top: 21px;
    left: 8px;
    width: 80%;
    height: 1px;
    color: var(--clr-dark);
    background-color: var(--clr-dark);
}

.logo:hover{
    animation-name: spin;
    animation-duration: 0.5s;
}

@keyframes spin {
    from{
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.nav {
    background: var(--clr-dark);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;
}

.nav_list {
    margin: 0 auto;
    margin-top: 4em;
    height: max-content;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-bottom: 3em;
}


.nav_element {
    margin: 1em auto;
}

.nav_link {
    text-decoration: none;
    font-size: var(--fs-body);
    color: var(--clr-light);
    font-family: var(--ff);
}
.nav_link:hover,
.nav_link:focus {
    color: var(--clr-accent);
    border-bottom: 1px solid var(--clr-accent);
}

.nav-toggle {
    padding: 1em;
    background: transparent;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    border: 0;
    z-index: 1000;
}

.nav-open .logo {
    color: var(--clr-light);
}
.nav-open .logo_span::before {
    background-color: var(--clr-light);
}
.nav-open .nav-toggle {
    position: fixed;
}
.nav-open .nav {
    transform: translateY(0);
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}
.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after{
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 30px;
    height: 3px;
    border-radius: 20%;
    background: var(--clr-accent);
}
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before{
    top: 6px;
}
.hamburger::after {
    bottom: 6px;
}

@media (min-width: 1000px) {
    
    .nav-toggle {
        display: none;
    }

    .nav_link{
        font-size: var(--fs-h4);
    }
    .nav{
        width: 80%;
        max-width: 700px;
        position: relative;
        top: 0;
        left: 0;
        transform: translateY(0);
        background: none;
    }

    .nav_list {
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    

    .nav_link {
        color: var(--clr-dark);
    }
}


/* //////////////// Intro /////////////// */

.intro {
    position: relative;
    color: var(--clr-dark);
    /* padding: 3em 0; */
}

.intro_title{
    font-weight: var(--fw-light);
    font-size: var(--fs-h1);
    line-height: 1.2em;
}

.intro_title strong {
    font-weight: var(--fw-bold);
    display: block;
}

.intro_subtitle {
    background: var(--clr-accent);
    width: max-content;
    padding: 0.8em;
    font-size: var(--fs-body);
    text-transform: uppercase;
    font-weight: var(--fw-reg);
    letter-spacing: 0.2em;
    text-align: center;
    color: var(--clr-dark);
}

.intro_img {
    width: 100%;
    box-shadow: var(--bs)
}


@media (min-width: 660px) {
    .intro{
        display: grid;
        width: min-content;
        margin: 2em auto;
        margin-bottom: 0;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro_img {
        grid-column: 1;
        grid-row: 1/-1;
        min-width: 250px;
        position: relative;
    }

    .intro_subtitle {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        text-align: right;
    }
}


/* /////////////////// About /////////// */

.about_title {
    font-weight: var(--fw-reg);
    font-size: var(--fs-h3);
}

.about_flex {
    display: flex;

    @media {
        flex-direction: column;
    }
}

.about_desc {
    line-height: 1.5em;
    max-width: 500px;
}

.about_btn{
    background: #0d026d;
    color: var(--clr-light);
    border: unset;
    padding: 0.8em 1.5em;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.8;
    font-weight: bold;
    letter-spacing: 0.1em;
}

/* ///////////////////////////////////
////////// Skills //////////////////
//////////////////////////////// */

.skills_title {
    margin-bottom: 1em;
    text-align: center;
}

.card_logo {
    color: rgb(18, 161, 197);
}

.card_git {
    color: rgb(240, 98, 15);
}
.card_html {
    color: rgb(19, 19, 129);
}
.card_css {
    color: rgb(122, 122, 43);
}
.card_js {
    color: rgb(135, 194, 17);
}
.card_logo {
    width: var(--logo-width);
    min-height: 40px;
}

.card_redux, 
.card_router,
.card_python,
.card_ml,
.card_dl,
.card_cplus {
    margin: 0.1em 0;
}

.card_logo img {
    width: var(--logo-width);
    height: 100%;
}

.cards_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    width: 100%;
    margin: 0 1em;
    position: relative;
    margin-bottom: 2em;
    padding: 0 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: rgb(251, 253, 253);
}
.cards p{
    width: 100%;
}
.cards:hover,
.cards:focus {
    box-shadow: var(--bs);
    border: unset;
    background-color: var(--clr-light);
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--clr-accent);
}

@media (min-width: calc(600px)){
    .cards{
        width: 300px;
    }
}


/* ////////////// Education ////////////// */

.section_title {
    text-align: center;
    margin-bottom: 1em;
}

.education_card {
    width: 100%;
    padding: 0.5em 1em;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(251, 253, 253);
}
.education_card:hover,
.education_card:focus {
    background-color: var(--clr-light);
    box-shadow: var(--bs);
}

.education_card_header {
    border: none;
    flex-direction: column;
    align-items: flex-start;
}
.light {
    opacity: 0.5;
}
.header_title {
    color: var(--clr-accent);
    font-weight: var(--fw-reg);
}
.education_subtitle {
    font-weight: var(--fw-reg);
}

@media (min-width: 600px) {
    .education_card_header {
        flex-direction: row;
        align-items: center;
    }
}


/* /////////// CERTIFICATIONS ///////////// */

.certi_title {
    margin-bottom: 1em;
    text-align: center;
}

.certi_flex {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.certi_card {
    margin: 0.2em 0.5em;
    background-color: rgb(14, 180, 180);
    padding: 0.2em 1em;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: var(--fw-bold);
    cursor: pointer;
}


/*               ///////////
    ///////////// PROJECTS ////////////// 
               ///////////             */

.projects {
    background: rgb(248, 244, 244);
}

.projects_title {
    margin-bottom: 1em;
    text-align: center;
}

.projects_grid {
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
}

.project {
    display: flex;
    flex-direction: column;
    background: var(--clr-light);
    max-height: 320px;
    overflow: hidden;
}

.project_img {
    width: 100%;
    height: 100%;
    max-height: 100px;
    object-fit: cover;
    transition: transform 550ms ease-in-out;
}

.project_content {
    width: 100%;
    height: 100%;
    padding: 0.5em 1em;
    margin-bottom: 1em;
}

.project_desc{

    color: var(--clr-dark);
    opacity: 0.7;
}

.project_link {
    font-size: 1rem;
    text-decoration: underline;
}

.project_img:hover{
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.more_link_down,
.more_link_up {
    text-align: center;
    display: block;
    max-width: 120px;
    margin: 0 auto;
    letter-spacing: 0.1em;
    color: var(--clr-accent);
    text-decoration: underline;
    cursor: pointer;
}

.more_link_down {
    margin-top: 2em;
}

.more_link_up {
    margin-bottom: 2em;
    margin-top: 2em;
    display: none;
}

.more_icon {
    margin-top: 0.2em;
    font-size: var(--fs-h2);
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

.more_icon:hover,
.more_icon:focus {
    transform: scale(1.5);
}


/* ////////////////// Articles ///////////////// */

.articles_title {
    text-align: center;
    margin-bottom: 1em;
}

.articles_flex {
    display: flex;
    flex-wrap: wrap;
}

.articles_subtitle {
    padding-bottom: 1em;
    font-weight: var(--fw-reg);
    border-bottom: 2px solid var(--clr-accent)
}


.articles_desc {
    line-height: 1.5em;
}

.articles_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(249, 251, 252);
    margin: 1em auto;
    padding: 0.5em 1em;
    border-radius: 5px;
}

@media (min-width: 600px) {
    .articles_card{
        max-width: 450px;
        margin: 1em auto;
        padding: 1em 2em;
    }
    
}

.articles_card {
    box-shadow: var(--bs);
}

.articles_link {
    padding: 0.5em 1em;
    border: 1px solid var(--clr-accent);
    align-self: flex-end;
    color: var(--clr-accent);
    justify-self: flex-end;
}

.articles_link:hover,
.articles_link:focus {
    background-color: var(--clr-accent);
    color: var(--clr-light);
}


/* ////////////////// Footer ///////////////////// */

.contact {
    margin-top: 4em;
    width: 100%;
    background: #ece5e9;
    padding: 6em 0;
    position: absolute;
    left: 0;
    opacity: 0.95;
}

.footer_flex {
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

.footer_icon {
    width: 2em;
    height: 2em;
    
}

.copy {
    color: var(--clr-accent);
    margin-bottom: 0;
    font-size: 0.9rem;
}